<li class="nav-item">
    <a class="nav-link text-dark"  asp-controller="Drink" asp-action="Index" asp-route-category="Alcoholic">Alcoholic</a>
</li>

<li class="nav-item">
    <a class="nav-link text-dark"  asp-controller="Drink" asp-action="Index" asp-route-category="Non-alcoholic">Non-Alcoholic</a>
</li>